:root {
    --main-bg-color: white;
    --main-text-color: black;
  }
  
  body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Dark Theme when checkbox is checked */
  body:has(#themeToggle:checked) {
    --main-bg-color: black;
    --main-text-color: white;
  }
  
  /* Hide checkbox */
  #themeToggle {
    display: none;
  }
  
  label {
    cursor: pointer;
    padding: 8px 12px;
    background: gray;
    color: white;
    border-radius: 5px;
    display: inline-block;
  }
  