

body {
   
    background:linear-gradient(100deg,violet, rgb(130, 211, 251));
    padding-left: 45px;
}

h1{
    text-align: center;
    color: rgb(255,255,255);
}
figure{
    display: inline-block;
    justify-content: space-between;
    width: 400px;
    background: lavender;
    padding: 19px;
    border-radius: 20px;
    margin: 15px;
}
figure img{

    width: 400px ;
    height: 400px;
    border-radius: 10px;
}

figure figcaption{
    font-size: 18px;
    margin-top: 8px;
    text-align: center;
    color: black;
}
