/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background:linear-gradient(100deg,violet, rgb(130, 211, 251));
    color: white;
}

/* Logo */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    flex: 1; 
}

.logo img {
    height: 50px; 
    width: auto; 
    border-radius: 50%;
}



nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

